html,
body {
  margin: 0;
  padding: 0;
}
li,
ul {
  list-style: none;
}

input:focus {
  outline: none;
}

#login-form.hidden {
  display: none;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

#login-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form input[type="text"] {
  border: 0;
  border-bottom: 1px solid black;
  width: 200px;
  padding: 10px;
  background-color: transparent;
}

input[type="text"]::placeholder {
  color: white;
  text-align: center;
}

#login-form input[type="submit"] {
  margin-top: 10px;
  border: 0;
  width: 100px;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 10px;
}
h2#clock {
  text-align: center;
  color: white;
}

img {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* visibility: hidden; */
}

#todo-form input {
  border: 0;
  border-bottom: 1px solid black;
  width: 200px;
  padding: 10px;
  background-color: transparent;
}

#quote {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#quote span:first-child {
  font-size: 20px;
  color: white;
}

#quote span:last-child {
  margin-top: 10px;
  color: white;
}
